export RAILS_PORT=3000
export NODE_PORT=3010
export WEB_PORT=1080
export SECRET_KEY_BASE=xxxx
export DB_HOST=db
export DB_NAME=gisyohub
export DB_USER=root
export DB_PASSWORD=
export PROJECT_NAME=gisyohub
export SECRET_KEY_BASE=xxxxx
export COMPOSE_PROJECT_NAME=${PROJECT_NAME}
export COMPOSE_FILE=docker/docker-compose.development.yml
export TWITTER_KEY="xxxxx"
export TWITTER_SECRET="xxxxx"
export TWITTER_ACCESS_TOKEN="xxxx-xxxx"
export TWITTER_ACCESS_SECRET="xxxxx"
export USER_ID=$(id -u)
export GROUP_ID=$(id -g)
export RUBY_VERSION=`cat rails/.ruby-version`
