export RAILS_PORT=3000
export NODE_PORT=3010
export WEB_PORT=1080
export SECRET_KEY_BASE=xxx
export DB_HOST=127.0.0.1
export DB_NAME=gisyohub
export DB_USER=gisyohub
export DB_PASSWORD=xxx
export PROJECT_NAME=gisyohub
export COMPOSE_PROJECT_NAME=${PROJECT_NAME}
export COMPOSE_FILE=docker/docker-compose.development.yml
export TWITTER_KEY="xxx"
export TWITTER_SECRET="xxx"
export TWITTER_ACCESS_TOKEN="xxx"
export TWITTER_ACCESS_SECRET="xxx"
export USER_ID=$(id -u)
export GROUP_ID=$(id -g)
export RUBY_VERSION=`cat .ruby-version`
