<body>
  <header>
    <% if logged_in? %>
      <%= form_tag(sessions_destroy_path, method: :post) do %>
        <%= submit_tag("logout") %>
      <% end %>
    <% else %>
      <%= form_tag("/auth/twitter") do %>
        <%= submit_tag("Sign in via twitter") %>
      <% end %>
    <% end %>
  </header>
</body>
